body {
  font-family: Arial, sans-serif;
  background-color: #FFF1E6;
  margin: 0;
  padding: 0;
  color: #333;
}

button[type="submit"] {
  margin-top: 15px;
  padding: 10px;
  background-color: #75df77;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

button[type="submit"]:hover {
  background-color: #458845;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}