body {
  font-family: Arial, sans-serif;
  background-color: #FFF1E6;
  margin: 0;
  padding: 0;
  color: #333;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}